.header_and_links {
    position: relative;
    overflow: auto;
    text-align: center;
}

.header_and_links img {
    height: 35px;
    width: 100%;
}

.links {
    position: absolute;
    padding-top: 5px;
    padding-left: 25px;
    right: 255px;
        
}

.links a  {
    padding-right: 50px;
    font-size: 1.25em;
    text-decoration: none;
}

.table {
    border: solid;
    font-size: 30px;
    width: 45%;
    right: 200px;
    border-width: 2px; 
    
}

