.banner {
    overflow: auto;
    text-align: center;
    position: relative;
}

#blue {
    height: 125px;
    width: 100%; 
}

.banner h1 {
    position: absolute;
    width: 98%;
    font-size: 75px;
    font-stretch: ultra-expanded;
    margin: 8px;
    padding-top: 10px;
}


